form{
    width: 65%;
    margin: auto;
}
#form-login #form-register, fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#form-login #form-register, input{
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: none;
}
form .form-button{
    border: 0.2rem solid black;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: black;
    background-color: rgb(255, 255, 255);
}
fieldset button:hover{
    color: white;
    background: rgb(78, 220, 75);
}
.msg-error{
    color: red;
}