*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Gantari', sans-serif;
    color: aliceblue;
}
header{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 0.8rem;
}
#nav-home-a{
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: space-around;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
#nav-home-a a{
    flex-grow: 1;
    color: beige;
    text-decoration: none;
    text-align: center;
}